/* Navbar.css */
body {
  margin: 0;
  padding-top: 80px; /* Adjust this value according to the navbar height */
}
/* Example for applying padding to specific content area */
.main-content {
  padding-top: 80px; /* Adjust this according to the navbar height */
}
#logoutbtn{
  align-self: center;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0,30,70);
  size: 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(232,235,237);
  padding: 10px;
  z-index: 999; /* Ensure the navbar is on top */
  position: fixed; /* Keep the navbar fixed at the top */
  top: 0;
  left: 0;
  width: 100%; /* Make sure it spans the entire width of the page */
  height: 70px; /* Set the height of the navbar */
  box-shadow: 0 2px 10px rgb(18, 14, 53); /* Optional shadow */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  margin-right: 10px;
}

.burger-menu {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: rgb(0,30,70);
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  margin-right: 20px;
    font-size: .952rem;
    line-height: 2.5;
    font-weight: 500;
    text-transform: none;
    letter-spacing: .05em;
}

.navbar-links a {
  text-decoration: none;
  color: rgb(0,30,70);
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: rgb(18, 14, 53); /* Change link color on hover */
}

/* Underline slide-in effect */
.navbar-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 2px;
  background-color: rgb(18, 14, 53);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  top: 16px;
}
#usericon{
  margin-right:5px;
  color: black;
  margin:10px;
}
.navbar-username{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.navbar-username .username-text {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(18, 14, 53);
  font-size: 20px;
  font-weight: bold;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button svg {
  fill: rgb(0,30,70);
  transition: transform 0.2s ease-in-out;
}

button:hover svg {
  transform: scale(1.1);
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .navbar-links {
    position: fixed;
    top: 70px;
    right: 0;
    width: 100%;
    background-color:rgb(0,30,70);
    flex-direction: column;
    align-items: center;
    display: none;
    z-index: 1000;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-logo {
    justify-content: space-between;
    width: 100%;
    margin: 10px;
  }
  
}